/*============================
		COLOR Pink
==============================*/
::selection {
  background: #d63384;
}

a, a:focus {
  color: #d63384;
}

a:hover, a:active {
  color: #bf2672;
}

/* Accordion & Toggle */
.accordion:not(.accordion-alternate) .card-header a {
  background-color: #d63384;
  color: #fff;
}

/* Nav */
.nav:not(.nav-pills) .nav-item .nav-link.active, .nav:not(.nav-pills) .nav-item .nav-link:hover {
  color: #d63384;
}

.nav-tabs .nav-item .nav-link.active {
  color: #0c2f55;
}
.nav-tabs .nav-item .nav-link.active:after {
  background-color: #d63384;
}
.nav-tabs .nav-item .nav-link:not(.active):hover {
  color: #d63384;
}
.nav-tabs.flex-column .nav-item .nav-link.active {
  color: #d63384;
}

.nav-pills .nav-link:not(.active):hover {
  color: #d63384;
}

/* Extras */
.bg-primary, .badge-primary {
  background-color: #d63384 !important;
}

.text-primary, .btn-link:not(.text-white):not(.text-light):not(.text-dark):not(.text-body) {
  color: #d63384 !important;
}

.btn-link:hover {
  color: #bf2672 !important;
}

.text-muted {
  color: #8e9a9d !important;
}

.text-light {
  color: #dee3e4 !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
  background-color: #bf2672 !important;
}

.border-primary {
  border-color: #d63384 !important;
}

.btn-primary {
  background-color: #d63384;
  border-color: #d63384;
}
.btn-primary:hover {
  background-color: #bf2672;
  border-color: #bf2672;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  background-color: #bf2672;
  border-color: #bf2672;
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #bf2672;
  border-color: #bf2672;
}

.btn-outline-primary, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
  color: #d63384;
  border-color: #d63384;
}
.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active:hover, .btn-outline-primary:not(:disabled):not(.disabled):active:hover {
  background-color: #d63384;
  border-color: #d63384;
  color: #fff;
}

.progress-bar,
.nav-pills .nav-link.active, .nav-pills .show > .nav-link, .dropdown-item.active, .dropdown-item:active {
  background-color: #d63384;
}

.page-item.active .page-link,
.custom-radio .custom-control-input:checked ~ .custom-control-label:before,
.custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before,
.custom-control-input:checked ~ .custom-control-label:before {
  background-color: #d63384;
  border-color: #d63384;
}

.list-group-item.active {
  background-color: #d63384;
  border-color: #d63384;
}

.page-link {
  color: #d63384;
}
.page-link:hover {
  color: #bf2672;
}
