

//-------------------- Fonts --------------------//

$body-font: 'Poppins', sans-serif;


//-------------------- Base Colors --------------------//

$primary-color: 			$blue;
$primary-color-hover: 		darken($primary-color, 7%);
$secondary-color: 			$secondary;

$body-bg:					#dddddd;
$text-color:				#4c4d4d;
$title-color:     			#252b33;